---
extends: default

rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
    max-spaces-inside-empty: 0
    level: error

  brackets:
    max-spaces-inside: 0
    max-spaces-inside-empty: 0
    level: error

  colons:
    max-spaces-before: 0
    level: error

  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    level: error

  comments:
    require-starting-space: true
    ignore-shebangs: false
    min-spaces-from-content: 2
    level: error

  comments-indentation:
    level: error

  document-end:
    present: false
    level: error

  document-start:
    present: true
    level: error

  empty-lines:
    max-start: 0
    max-end: 0
    level: error

  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true
    level: error

  hyphens:
    max-spaces-after: 1
    level: error

  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: true
    level: error

  key-duplicates:
    level: error

  key-ordering: disable

  line-length:
    max: 80
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: false
    level: warning

  new-line-at-end-of-file:
    level: error

  new-lines:
    type: unix
    level: error

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: false
    level: error

  quoted-strings: disable

  trailing-spaces:
    level: error

  truthy:
    allowed-values: ['true', 'false']
    level: error
