[Unit]
After=network.target
After={{ rails__service }}.service
PartOf={{ rails__service }}.service
Description={{ rails__sidekiq_descr }}

[Service]
ExecStart={{ rails__rvm }} {{ rails__ruby }}@{{ rails__gemset }} do bundle exec sidekiq --environment {{ rails__env }}
Group={{ rails__group }}
Restart=always
RestartSec=1
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ rails__service }}-sidekiq
Type=simple
User={{ rails__user }}
WorkingDirectory={{ rails__root_dir }}/current

[Install]
WantedBy={{ rails__service }}.service
